body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-size: 150%
}

h1 {
  font-size: 450%;
  margin-top: 0;
  line-height: 2;
  color: #66BFBF;
  font-family: Sacramento, Helvetica, cursive;
}

h2 {
 color: #11999E;
}

p {
  font-family: Pacifico, Helvetica, cursive;
  line-height: 2;
}

li {
  font-weight: bold;
}

a{
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  margin: 100px auto;
  border-style: none;
  border-top-style: dotted;
  border-color:#66BFBF;
  border-width:5px;
  width: 50%;
}

.iampro {
  color: #66BFBF;
  font-weight: normal;
}

.intro {
  width: 30%;
  margin: auto;
}

.top {
  margin: 0;
  font-size: 30px;
  position: relative;
  padding-top: 100px;
  background-color: lightblue;
}

.middle {
  font-family: Sacramento, Helvetica, cursive;
  margin: 100px auto;
}

.bottom {
 font-family: Sacramento, Helvetica, cursive;
 padding: 50px 0 20px;
 background-color: #66BFBF;
}

.profile {
  border-radius: 50%;
}

.skill-row {
  vertical-align: bottom;
  width: 50%;
  margin: auto;
  line-height: 2;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.myGif {
  width: 50%;
  float: left;
  margin-right: 30px;
}

.contact-msg {
  width: 30%;
  margin: auto;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px auto;
}

.bottom_cloud {
  position: absolute;
  left: 300px;
  bottom: 90px;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.btn {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: Sacramento, Helvetica, cursive;
	font-size:25px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.btn:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.btn:active {
	position:relative;
	top:1px;
}
